@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=IBM+Plex+Mono:wght@400;500&family=Pixelify+Sans:wght@400..700&family=Workbench&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 200px;
}

body {
    font-family: "Inter";
    height: 100vh;
    background: var(--main-color);
    background-attachment: fixed;
}


main {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    flex-direction: column;
    color: #e6d4be;
    align-items: center;
    justify-content: start;
    min-height: 10px;
}


a {
    text-decoration: none;
    color: yellow;
}

a:hover{
    color: #f2f2f2;
    text-decoration: underline white 1px ;

}
  

.page-title {
    font-family: "Pixelify Sans";
    text-align: center;
    padding: 20px;
    color: var(--sec-color);
    border-radius: 10px;
    font-size: 4.5rem;

    a {
        cursor: pointer; 
        text-decoration: none;
        color: #e6d4be;
    }
}

.post-card {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 20px;
    color: var(--main-color);
    background-color: var(--sec-color);
    border-radius: 10px;
}

.post-title {
    margin-bottom: 20px;
}

.post-see-details {
    /* resetando atributos que já vem do botão: */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: .5rem;
    align-self: flex-end;
    justify-self: right;
    background-color: var(--main-color);
    color: var(--sec-color);
    cursor: pointer;
}

.post-see-details:hover {
    background-color: var(--main-color-hover);
}


.post-details-title {
    font-family: "Pixelify Sans";
    text-align: center;
    color: var(--sec-color);
}

.post-time {
    font-size: 1rem;
    margin-bottom: 20px;
}
.post-author {
    font-size: 1rem;
    margin-bottom: 10px;
}

.post-image {
    border: 1rem solid var(--main-color) ;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    width: 90%;
    align-self: center;
    max-height: 500px;
    object-fit: cover;

}

/* Esse image container tá servindo só pra ser um display flex na imagem do post details */
#img-container {
    display: flex;
    width: 100%;
    padding: 1rem;
}
.post-image-details {
    border-radius: 5px;
    width: 80%;
    max-width: 700px;
    height: auto;
    margin: auto;
    padding: 1rem;
    background-color: var(--sec-color);
}

.post-details-card {
    display: flex;
    align-items: left;
    justify-content: top;
    width: 60%;
    flex-direction: column;
    padding: 20px;
    color: var(--main-color);
    background-color: var(--sec-color);
    border-radius: 10px;
    text-align: justify;
    text-justify: auto;
    line-height: 1.5rem;

    h3 {
        margin-bottom: 2rem;
    }

    .post-content {
        margin-bottom: 1rem;
    }
}

.post-details-card:first-child{
    margin-top: 2rem;

}

.post-details-time{
    align-self: center;
}

#nav-main-page {
    display: flex;
    width: 80%;
    height: 50px;
    color: var(--main-color);
    background-color: var(--sec-color);
    align-items: center;
    transition: 1s;
}

.container-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
    text-decoration: none;
    padding: 1rem;
    a {
        color: var(--main-color);
        text-decoration: none;
    }
}

.nav-item:first-child{
    padding-left: 1rem;
}

.nav-item:hover {
    cursor: pointer;
    background-color: var(--main-color);
    a {
        color: var(--sec-color);
    }
}

.sticky {
    width: 100% !important;
    border-bottom: solid 1rem var(--main-color);
    position: fixed;
    top: 0;
}


.sticky + main {
    padding-top: 60px;
}


form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#create-post-fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    gap: 20px;
    border: none;
    border-radius: 1rem;
    background-color: #e6d4be;
    width: 50%;

    label {
        font-size: 1.5rem;
        font-family: "Pixelify Sans";
        align-self: center;
        color: #352b30;
    }

    input[type="text"]{
        font-family: monospace;
        background-color: var(--main-color);
        color: var(--sec-color);
        border: none;
        border-radius: .5rem;
        height: 30px;
        width: 50%;
        padding: 1rem;
    }

    textarea{
        padding: 10px;
        background-color: var(--main-color);
        color: var(--sec-color);
        width: 50%;
        height: 200px;
        border-radius: .5rem;
    }
}


:root {
    --sec-color: #e6d4be;
    --main-color: #352b30;
    --main-color-hover: #4e464a
}

::-webkit-scrollbar {
    display: none;
}

.submit-button {
    display: inline-block;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: .5rem;
    align-self: center;
    justify-self: center;
    background-color: var(--main-color);
    color: var(--sec-color);
    cursor: pointer;
    min-width: 100px;
}

.submit-button button {
    visibility: hidden;
}

.submit-button:hover{
    background-color: var(--main-color-hover);

    button {
        text-decoration: none;
        border: none;
    }
}