{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "blog/styles/styles.css" %}">
    <title>GameLog</title>
  </head>
  <body>
    <header>
      <h1 class="page-title">GameLog</h1>
      <nav id="nav-main-page">
        <div class="nav-item">
          <a href="{% url "main_page" %}">Página Principal</a>
        </div>
        <div class="nav-item">
          <a href=" {% url "create_post" %}">Criar Post</a>
        </div>
      </nav>
    </header>
    <script src="{% static "blog/scripts/stikyNavBar.js" %}"></script>
    {% block content %}
    {% endblock content %}
  </body>
</html>
