{% load static %}
<link rel="stylesheet" href="{% static "blog/styles/styles.css" %}">
{% block content %}
  <main>
    <form method="post" action="{% url "create_post" %}">
      {% csrf_token %}
      <fieldset>
        <legend>Cadastrar novo post</legend>
        <label>Título do Post</label>
        <input type="text" name="title" />
        <label>Conteúdo do Post</label>
        <input type="text" name="content" />
        <button type="submit">Criar</button>
      </fieldset>
    </form>
  </main>
{% endblock content %}
