{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <main>
    <form method="post"
          action="{% url "create_post" %}"
          enctype="multipart/form-data">
      {% csrf_token %}
      <h1 class="post-details-title">Cadastrar novo post</h1>
      <fieldset>
        <label for="input-file">Imagem de Cover</label>
        <input id="input-file"
               class="submit-button"
               type="file"
               name="image"
               accept="image/*" />
        <label>Título</label>
        <input id="input-title" type="text" name="title" required />
        <label>Escreva com sabedoria...</label>
        <textarea id="input-content" name="content"> </textarea>
        <button class="submit-button" type="submit" required>Criar</button>
      </fieldset>
    </form>
  </main>
{% endblock content %}
