{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <main>
    <form method="post"
          action="{% url "create_post" %}"
          enctype="multipart/form-data">
      {% csrf_token %}
      <h3 class="page-title">Cadastrar novo post</h3>
      <fieldset id="create-post-fieldset">
        <label for="input-file">Cover do Post</label>
        <input id="input-file" class="submit-button" type="file"  name="image" />
        <label>Título do Post</label>
        <input id="input-title" type="text" name="title" />
        <label>Conteúdo do Post</label>
        <textarea id="input-content" name="content"> </textarea>
        <button class="submit-button" type="submit">Criar</button>
      </fieldset>
    </form>
  </main>
{% endblock content %}
