{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <main>
    {% if posts %}
      {% for post in posts %}
        <article class="post-card">
          {% if post.image %}
            <img class="post-image"
                 src="{% static post.image.url %}"
                 width="keep"
                 height="keep"
                 alt="Imagem do Post {{ post.title }}">
          </img>
        {% endif %}
        <h2 class="post-title">{{ post.title }}</h2>
        <h3 class="post-time">Publicado em {{ post.created_at|date }} às {{ post.created_at|time }}</h3>
        <p class="post-content">{{ post.content|truncatechars:140 }}</p>
        <button class="post-see-details" onclick="goToPostDetail{{ post.id }}()">Ver detalhes</button>
        <script>function goToPostDetail{{post.id}}(){ window.location.href="{% url "post_detail" pk=post.id %}"}</script>
      </article>
    {% endfor %}
  {% else %}
    <p>Nenhum post publicado ainda! Sinta-se a vontade para publicar</p>
    <a href=" {% url "create_post" %}">Criar novo post</a>
  {% endif %}
</main>
{% endblock content %}
